<nav class="menu">
  <ul>
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/about']">About</a></li>
    <li><a [routerLink]="['/login']">Login</a></li>
    <li><a [routerLink]="['/contact']">Contact</a></li>

    <!--This is a SEO change-->
    <!--This is a a11y change-->
    <li>
      <a role="link" href="http://github.com/gokulkumarp" title="github"
        >Github</a
      >
    </li>
    <li>
      <a href="https://www.linkedin.com/in/gokulkumar-p/">
        <!--this is a11y change-->
        <button id="link">
          Linkedin <i class="fa fa-linkedin-square"></i>
        </button>
      </a>
    </li>
  </ul>
</nav>
